.Layout {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  //background: linear-gradient(45deg, #4158D0, #C850C0, #FFCC70);
  background: linear-gradient(45deg, #D9AFD9, #97D9E1);
}