.FileContainer{
  width: 1000px;
  min-height: 500px;
  margin: 20px 0px;
  background: #ffe;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #ffe;
  display: flex;
  flex-wrap: wrap;


  .FileWrap{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    cursor: pointer;
    overflow: visible;

    &:hover{
      background: #97D9E144;

      .Remove{
        visibility: visible;
      }
    }

    .Remove{
      position: absolute;
      width: 30px;
      height: 30px;
      background: #d076b4;
      margin-left: 130px;
      margin-top: -130px;
      border-radius: 50px;
      color: #ffe;
      font-weight: 700;
      font-size: 20px;
      z-index: 10000;
      display: flex;
      align-items: center;
      justify-content: center;
      visibility: hidden;
    }

    .Icon{
      width: 150px;
      height: 150px;
    }

    .Icon.small{
      width: 130px;
      height: 130px;
      padding: 10px;
    }

    .Name{
      width: 200px;
      text-align: center;
      font-size: 15px;
      color: #D9AFD9;
      font-weight: 700;
    }
  }
}